@keyframes rotate {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 2s 0s forwards infinite linear;
}


@keyframes fadeInUp {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

.fade-in-up {
    animation: fadeInUp 1s both;
}
